<div class="profile-module">
<h2><%= @user.name %></h2>
</div>

<div class="sub-profile-module">
<% if current_user == @user %>
  <%= link_to "Edit profile", edit_user_path %>
<% end %>
</div>

<h3 class="module-title">Rooms</h3>
<div class="module">
<% if current_user == @user %>
  <%= render partial: "rooms/list", locals: { rooms: @rooms } %>
<% else %>
  <span>You can't see other people's rooms.</span>
<% end %>

