<div class="l-large-column clearfix">
  <h1>Latest posts</h1>
</div>
<div class="l-small-column clearfix">
  <% if logged_in? %>
    <%= render partial: "rooms/list", layout: "layouts/module", locals: {title: "Your rooms", rooms: current_user.rooms} %>
  <% else %>
    <%= render partial: "sessions/login", layout: "layouts/module", locals: {title: "Login"} %>
  <% end %>
</div>
