<% if rooms %>
  <ul class="rooms">
    <% rooms.each do |room| %>
    <li class="room">
      <%= link_to room.name, room_path(room) %>
    </li>
  <% end %>
  </ul>
<% else %>
  <h3>You are not a member of any rooms yet</h3>
<% end %>
