// Font weights
$light: 100;
$regular: 400;
$bold: 700;

// Base Font
$base-font-family: 'Open Sans', sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;

// Global colors
$green:         #5ECC37;

$header-color:  #363636;
$text-color:    #363636;
$border-color:  #E3E3E3; 
$succes-color:  $green;
