.button {
  border-radius: 3px;
  border: solid 1px;
  color: white;
  padding: 0.4em 1em;
  text-align: baseline;
  text-decoration: none;
  display: inline-block;
}

.green-button {
  @extend .button;
  border: solid scale-color($green, $lightness: -30%) 1px;
  background-image: linear-gradient(
    $green,
    scale-color($green, $lightness: -15%)
  );
}
