.button {
  border-radius: 2px;
  border: 0;

  font-size: 1.07em;
  font-weight: $bold;
  color: $light-blue;

  background-image: linear-gradient(
    scale-color($light-blue, $lightness: -40%),
    scale-color($light-blue, $lightness: -65%)
  );

  padding: 0.5em 1.5em;
  margin: 0 1em 0 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.green-button {
  @extend .button;

  color: $green;

  background-image: linear-gradient(
    scale-color($green, $lightness: -30%),
    scale-color($green, $lightness: -60%)
  );
}
