.button {
  border-radius: 2px;
  border: 0;

  font-size: 1.07em;
  font-weight: $bold;
  color: $light-blue;

  background-image: linear-gradient(
    scale-color($light-blue, $lightness: -40%),
    scale-color($light-blue, $lightness: -65%)
  );

  padding: 0.5em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.green-button {
  @extend .button;

  color: $green;

  background-image: linear-gradient(
    scale-color($green, $lightness: -30%),
    scale-color($green, $lightness: -60%)
  );
}

label {
  display: block;
  margin: 0 0 4px 0;
}

input {
  display: block;
  margin: 0 0 10px 0;
}

// Selecting all texty inputs
input:not([type=submit]):not([type=file]) {
  border: none;
  border-radius: 2px;
  background-color: scale-color($dark-blue, $lightness: -25%);

  color: $white;

  line-height: 1.5em;
  width: 100%;
  max-width: 293px;

  padding-left: 0.5em;
  padding-right: 0.5em;
}

input {
  background: none;
}
