$header-line-height: 30px;

.logo {
  float: left;

  a {
    margin: 0;
    
    line-height: $header-line-height;
    vertical-align: middle;

    color: $header-color;
    font-size: 28px;
    font-weight: $bold;
  }
}

.navigation-menu {
  display: block;
  float: right;

  margin: 0;
  padding: 0;

  list-style: none;

  li {
    float: left;

    a {
      display: block;

      margin: 0 1em 0 0;

      line-height: $header-line-height;
      vertical-align: middle;

      color: $header-color;
      text-decoration: none;
      font-weight: $bold;
    }
  }
}
