.posts {
  padding: 0;

  li {
    margin: 0 0 1em;
    list-style: none;
  }
}

.post-title {
  margin: 0;
}

.post-link {
  color: $white;
  margin: 0;

  &:visited {
    color: $white;
  }

  &:hover {
    color: $light-blue;
  }
}

.post-info {
  color: $light-blue;
  font-size: 0.85em;
}
