// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: 'Open Sans', sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;

html {
  font-size: $base-font-size;
}

h1 {
  font-size: 2em;
  color: $white;
  margin: 0 0 0.2em 0;
}

h2 {
  font-size: 1.6em;
  color: $white;
  margin: 0 0 0.2em 0;
}

h3 {
  font-size: 1.15em;
  color: $white;
  margin: 0 0 0.2em 0;
}

a {
  font-size: 1em;
  color: $light-blue;
  text-decoration: none;

  &:visited {
    color: $light-blue;
  }

  &:hover {
    color: $orange;
  }
}

label {
  font-size: 1em;
  color: $light-blue;
}

p {
  font-size: 1em;
  color: $white;
  margin: 0 0 1em 0;
}

ul {
  margin: 0;
}

li {
  margin: 0;
}
