html {
  font-size: $base-font-size;
}

h1 {
  font-size: 2em;
  color: $header-color;
}

h2 {
  font-size: 1.7em;
  color: $header-color;
}

h3 {
  font-size: 1.2em;
  color: $header-color;
}

a {
  font-size: 1em;
  color: $link-color;

  &:visited {
    color: $link-color-visited;
  }
}

p {
  font-size: 1em;
  color: $text-color;
}
